# https://github.com/Evangelospro/dotfiles/blob/485e479fd1196599d2c2b36c6fea355487f075b2/dot_local/bin/executable_update-spicetify#L4
["{{- template "os.tmpl" . -}}/spicetify/Themes/Dracula"]
    type = "archive"
    url = "https://github.com/dracula/spicetify/archive/master.zip"
    exact = true
    include = ["spicetify-main/Dracula/*"]
    stripComponents = 2
    refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/spicetify/CustomApps/marketplace"]
    type = "archive"
    url = '{{ gitHubLatestRelease "spicetify/spicetify-marketplace" | toJson | fromJson | jq ".assets[0].browser_download_url" | first}}'
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
