# TODO: Run this only a single time on fresh pc
{{- if eq .chezmoi.os "windows" }}

$Package = "altinter"
$DownloadDir = "$Env:UserProfile/Downloads"
$Destination = "$DownloadDir/$Package.zip"
$URL = "https://keyboards.jargon-file.org/altinter.zip"

Invoke-WebRequest -Uri $URL -Outfile $Destination
Expand-Archive $Destination -DestinationPath "$DownloadDir" -Force
# Start-Process "$DownloadDir/$Package/altinter_amd64.msi" -Verb Runas  #-ArgumentList '/quiet' 
# Start-Process "$DownloadDir/$Package/setup.exe" -ArgumentList '/a' -Wait -Verb Runas 
Start-Process -Verb Runas "$DownloadDir/$Package/setup.exe" -Wait #-ArgumentList '/a' 

Remove-Item -Path $Destination
Remove-Item -Path "$DownloadDir/$Package" -Recurse

{{ end }}
