{{- if eq .chezmoi.os "windows" -}}

### WINDOWS ###
### Scoop ###

{{ if ( or (.scoop.buckets) (gt 0 (len .scoop.work)) (gt 0 (len .scoop.home)) (gt 0 (len .scoop.gaming)) ) -}}

    {{ if .wipeScoop -}}
        scoop uninstall --all
    {{ end -}}

    # Install scoop if the command is not available
    if((Get-Command "scoop" -ErrorAction SilentlyContinue) -eq $null){

        Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser -Force
        Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
    }
    {{ end -}}
    scoop install {{ range .scoop.bootstrap -}} {{ . | quote }} {{ end -}} 
    
    # iterate over scoop packages in .chezmoidata/packages
    {{ range $key, $value := .scoop.buckets -}}
        scoop bucket add {{ $key | quote}} {{ $value | quote}}
    {{ end -}}

    scoop install {{ range .scoop.base -}} {{ . | quote }} {{ end -}} 

    {{- if (and (.isWork) (gt (len .scoop.work) 0)) }}
        scoop install {{ range .scoop.work -}} {{ . | quote }} {{ end -}} 
    {{ end -}}

    {{- if (and (.isHome) (gt (len .scoop.home) 0))}}
        scoop install {{ range .scoop.home -}} {{ . | quote }} {{ end -}} 
    {{ end -}}

    {{- if  (and (data.isGaming) (gt (len .scoop.gaming) 0)) }}
        scoop install {{ range .scoop.gaming -}} {{ . | quote }} {{ end -}} 
    {{ end -}}

{{ end -}}

### Winget ###

{{ if (and (.isWork) (gt 0 (len .winget.work))) -}}
{{  	range .winget.work -}}
            winget install -e --disable-interactivity {{ . | quote }}
{{      end -}} 
{{ end -}}

{{ if (and (.isHome) (gt 0 (len .winget.home))) -}}
{{  	range .winget.home -}}
            winget install -e --disable-interactivity {{ . | quote }}
{{      end -}} 
{{ end -}}

{{ if (and (.isGaming) (gt 0 (len .winget.gaming))) -}}
{{  	range .winget.gaming -}}
            winget install -e --disable-interactivity {{ . | quote }}
{{      end -}} 
{{ end -}}

### DARWIN ###
### Brew ###

# {{ if eq .chezmoi.os "darwin" -}}
# #!/bin/bash

# brew bundle --no-lock --file=/dev/stdin <<EOF
# {{ range .darwin.brews.packages -}}
# brew {{ . | quote }}
# {{ end -}}
# {{ range .darwin.casks.packages -}}
# cask {{ . | quote }}
# {{ end -}}
# EOF
# {{ end -}}