["{{- template "os.tmpl" . -}}/nushell/lib/task.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/modules/background_task/task.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/scoop-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/scoop/scoop-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/ani-cli-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/ani-cli/ani-cli-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/gh-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/gh/gh-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/winget-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/winget/winget-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/vscode-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/vscode/vscode-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/typst-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/typst/typst-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/tldr-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/tealdeer/tldr-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/completions/nix-completions.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-completions/nix/nix-completions.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/zoxide-menu.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/custom-menus/zoxide-menu.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/update-path.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/sourced/update-path.nu"
refreshPeriod = "168h"

["{{- template "os.tmpl" . -}}/nushell/lib/clip.nu"]
type = "file"
url = "https://raw.githubusercontent.com/nushell/nu_scripts/main/modules/system/mod.nu"
refreshPeriod = "168h"

# ["{{- template "os.tmpl" . -}}/nushell/lib/"]
# type = "file"
# url = ""
# refreshPeriod = "168h"